.navegacion{ 
    background-color:cyan ;
    .menu{ 
        @include flex (null,center ,center , null);
        list-style:none;
        gap: 5rem;

        .menu-item{ 
            font-size: $font-xl;
            .menu-item-link{ 
                color: $color-principal;
                text-decoration: none;
                border-bottom: 2px solid white;
             }

            .menu-item-link:hover { 
                border-color: $font-color-secondary;
             }
         } 
     } 
 }

 .logo {
    width: 150px;
    height: 100px;
}

.banner {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1.5rem;
 }

 .facebook, .instagram {
    color: #fff;
    padding: 1.5rem;
    border-radius: 30%;
}

.facebook {
    background-color:rgb(15, 15, 196) ;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}